*{

    padding: 0;
    margin: 0;

}

body{

    background-color:#eee;

}

ul{

    height: 60px;

    display: flex;

    justify-content: center;
    align-items: center;

    list-style: none;

    background-color: #8dd35fff;

}

li > p {

    margin: 0 10px;

    height: 12pt;

    font-size: 12pt;

    font-family: 'comfortaa';
    font-weight: bolder;

    color: white;

}

li{

    min-width: 150px;

    display: flex;

    justify-content: space-around;

}

li > a{

    color: white;
    font-family: 'comfortaa';
    font-size: 11.5pt;
    font-weight: bolder;

    text-decoration: none;

}

li > a > div{

    width: 140px;
    height: 45px;

    background-image: url("../images/logoTextoAzul.png");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    image-rendering: optimizeQuality;

}

li > form > button{

    margin-right: 10px;

    height: 60px;
    min-width: 100px;

    border: none;
    background-color:transparent;

    font-size: 11pt;
    font-family: comfortaa;

    color: white;

}

.iniciarSesion{

    margin: 0 25px;

    width: 160px;
    height: 40px;

    background-color: #011627ff;

    border-radius: 15px;

    font-weight: bolder;

    color: white;

    text-decoration: underline transparent;
    text-align: center;

    line-height: 40px;

}

.registrarme{

    width: 160px;
    height: 40px;

    background-color: white;

    border-radius: 15px;

    font-weight: bolder;

    color: #0682efff;

    text-decoration: underline transparent;
    text-align: center;

    line-height: 40px;

}

.cerrarSesion{

    margin: 0 25px;

    width: 160px;
    height: 40px;

    background-color: #f7be2aff;

    border-radius: 15px;

    font-weight: bolder;

    color: white;

    text-decoration: underline transparent;
    text-align: center;

    line-height: 40px;

}

.miCuenta{

    width: 160px;
    height: 40px;

    background-color: white;

    border-radius: 15px;

    font-weight: bolder;

    color: #0682efff;

    text-decoration: underline transparent;
    text-align: center;

    line-height: 40px;


}

.busqueda{

    display: flex;
    align-items: center;
    justify-content: center;

}

.busqueda input{

    margin-left: 20px;

    width: 180px;
    height: 35px;

    padding: 0 15px;

    font-family: comfortaa;

    border: none;

    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

    color: #011627ff;

}

.busqueda button{

    width: 100px;
    height: 35px;

    border: none;

    background-color: #011627ff;

    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

}