body{

    background-color:#eee;

    display: flex;
    flex-direction: column;

}

main{

    width: 80%;
    min-height: 65vh;
    margin: 50px 0px;

    padding: 50px;

    align-self: center;

    background-color: white;

}

main > section > h1{

    font-family: comfortaa;
    font-size: 18pt;

    text-decoration: underline #8dd35fff;

}

.form1{

    width: 80%;
    height: 500px;

    padding: 30px;

    display: grid;

    grid-template-columns: 4fr 1fr 4fr;
    grid-template-rows: 1fr 1fr 1fr;

    grid-auto-flow: row;

    grid-template-areas:
    
    "id . btn1"
    "nombre . texto"
    "requisito . articulo"

    ;

    background-color: red;

}

.div--id{

    grid-area: id;

}

.div--btn1{

    grid-area: btn1;

}

.div--nombre{

    grid-area: nombre;

}

.div--texto{

    grid-area: texto;

}

.div--requisito{

    grid-area: requisito;

}

.div--articulo{

    grid-area: articulo;

}


main form div p{

    font-family: comfortaa;

}   

.pTitulo{

    font-weight: bold;

}

.pTitulo--Modificar{

    font-weight: bold;

}