main{

    width: 100%;
    min-height: 800px;

    font-family: comfortaa;
    
    display: flex;

    justify-content: center;

}

.section1{

    width: 90%;

    padding: 50px 0;

    display: flex;

    flex-direction: column;

}

.section1 > h1{

    margin: 20px 0;

    font-family: 'bebas neue';
    font-size: 40pt;

    color: #011627ff;

}

.section1 > button {

    height: 50px;
    width: 150px;

    background-color: #f7be2aff;
    border: 1px solid #f7be2aff;

    border-radius: 10px;

    margin-bottom: 25px;

}

.section1 > button > a{

    font-family: 'bebas neue';
    font-size: 17pt;
    
    text-decoration: none;

    color: white;

}

hr{

    border: 4px solid #0682efff;

    margin-bottom: 30px;

}

.section1 > div{

    padding: 50px;
    width: 90%;

    align-self: center;

    background-color: white;

    margin: 30px;

    box-shadow: #011627ff;

    
    -webkit-box-shadow: 9px 12px 15px 0px rgba(0,0,0,0.44); 
    box-shadow: 9px 12px 15px 0px rgba(0,0,0,0.44);

}

.divFavorito{

    display: flex;

    width: 100%;

    align-items: center;
    justify-content: space-between;

    margin-bottom: 30px;

}

.divFavorito > h1{

    padding: 10px 0;

    width: 40%;

    font-family: 'bebas neue';
    font-size: 30pt;

    color: #011627ff;

    border-bottom: 3px solid #0682efff;

}

.divFavorito > button{

    padding: 10px;

    font-family: comfortaa;
    font-size: 10pt;

    margin-bottom: 30px;

    background-color: #ff8080ff;

    border: 2px solid #ff8080ff;

    border-radius: 10px;

}

.divFavorito > button:hover{

    background-color: white;

    border: 2px solid #ff8080ff;

}

.divFavorito > button > a{

    color: white;
    text-decoration: none;

}

.divFavorito > button > a:hover{

    color: #ff8080ff;

}

.noticia{

    font-style: italic;
    font-weight: bolder;

    color: #8dd35fff;

}

.section1 div > p {

    font-size: 13pt;

    margin-bottom: 30px;

}

